.hold{
  margin: 40px;
}
.containerSkills {
  width: 100%;
  background-color: #ddd;
}
.skills {
  text-align: right;
  padding-right: 20px;
  line-height: 40px;
  color: white;
}
.photoshop {
  width: 95%;
  background-color: #332d42;
}

.html {
  width: 90%;
  background-color: #332d42;
}
.css {
  width: 80%;
  background-color:#332d42;
}

.java {
  width: 75%;
  background-color: #332d42;
}
.javascript{
  width: 73%;
  background-color: #332d42;
}
.angular{
  width: 72%;
  background-color: #332d42;
}
.ember{
  width: 70%;
  background-color: #332d42;
}
.android{
  width: 70%;
  background-color: #332d42;
}
