/*Overall Font style*/
body{
font-family: 'Sirin Stencil', cursive;
}
/*End of overall font style*/
/*Navbar Section*/
.navbar-inverse{
opacity: 0.5;
}
/*End Of Navbar Section*/
/*Home Section Header*/
.bckground{
background-image:url('../images/background.jpg');
background-repeat: no-repeat;
height: auto;
width: auto;
background-size: cover;
font-family: 'Roboto Slab', serif;
}
p{
font-family: 'Roboto Slab', serif;
}
/*End Home Section*/
/*Slide Show*/
.carousel-content {
color:white;
display:flex;
align-items:center;
text-shadow: 30px;
}
#text-carousel {
width: 100%;
height: 500px;
padding-top: 250px;
}
/*SlideShow Ends Here*/
/*Education Starts Here*/
.edu{
font-family: 'Sirin Stencil', cursive;
text-align: center;
font-size: 32px;
color: white;
padding: 80px;
}
/*Education Ends here*/
/*About Starts Here*/
#About{
text-align: center;
padding: 60px;
margin: 30px 50px 0px 50px;
}
#About p{
padding: 30px;
}
/*About Ends Here*/
#Contacts{
text-align: center;
background-color: #FFFFFF;
width: auto;
height: auto;
}
/*About Ends Here*/
/*Footer Section*/
.footer{
background-image:url('../images/qwerty.jpg');
opacity: 0.8;
color: purple;
width: auto;
height: auto;
font-size: 24px;
}
/*End of Footer*/
/*Animations*/
.edu{
position: relative;
}
.image:hover {
color: white;
opacity: 0.9;
background-color: purple;
}