@import url('https://fonts.googleapis.com/css?family=Amiri|Poiret+One');

body, html {
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 "Lato", sans-serif;
    color: #777;
}


/* Make Navbar Transparent */

.topnav {
    background-color: transparent;
    overflow: hidden;
}


/* Style the links inside the navigation bar */

.topnav a {
    font-size: 20px;
    font-family: 'Poiret One', cursive;
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


/* Change link color on hover */

.topnav a:hover {
    background-color: #ddd;
    color: black;
}


/* Hide the link that should open and close the topnav on small screens */

.topnav .icon {
    display: none;
}


/*Parallax effect*/

.image1 {
    position: relative;
    opacity: 0.8;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.image1 {
    background-image: url("http://orig09.deviantart.net/ac64/f/2008/032/4/e/alpha_tech_wallpaper_by_nukeation.jpg");
    min-height: 100%;
}

.content {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    font-family: 'Poiret One', cursive;
    color: #a05410;
    font-size: 40px;
}

.content span.border {
    background-color: #111;
    font-family: 'Poiret One', cursive;
    color: white;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
}


/* Turn off parallax scrolling for tablets and phones */

@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }
}
